.modal-dialog {
  max-width: 1000px;
}

.modal-body {
  max-height: 70vh;
  overflow-y: auto;
}

#equipmentList, #prefectureList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#equipmentList .form-check, #prefectureList .form-check {
  width: 30%;
  list-style: none;
}

.region-name {
  width: 100%;
  font-size: 1.2em;
  font-weight: bold;
  margin-top: 10px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 5px;
}

.prefecture-item {
  width: 30%;
  list-style: none;
}

.center-container {
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 100vh;
  text-align: center;
}

.gym-title {
  font-size: 50px;
  font-weight: bold; 
  background-color: #f8f8f8;
  padding: 20px;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 300px;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#map {
  height: 80vh; 
  width: 75%;
  float: right;
}

#sidebar {
  height: 80vh; 
  width: 25%;
  float: left;
  overflow-y: scroll;
  padding-right: 20px;
  padding-left: 10px; 
}

#gym-list {
  list-style-type: none;
  padding: 0;
}

#gym-list li {
  margin-bottom: 10px;
  border: 2px solid black;
  padding: 10px;
  padding-left: 15px; 
}

.gym-name {
  font-size: 1.2em; 
}

.gym-address {
  font-size: 0.8em; 
}

.form-group-inline {
  display: flex;
  justify-content: space-between;
}

.form-group-inline .form-group {
  flex: 1;
  margin-right: 10px;
}

.form-group-inline .form-group:last-child {
  margin-right: 0;
}

.no-gyms-message {
  font-size: 1.2em;
  color: red;
  margin-top: 10px;
}

.large-button {
  font-size: 24px; 
  padding: 20px 40px; 
}

.navbar-brand {
  font-size: 2.5em; 
  font-weight: bold;
}

.navbar {
  background-color: rgb(83, 99, 222) !important; 
}