body {
  background-color: #e0f7fa; /* 淡い水色の背景色 */
  color: #000; /* 黒い文字色 */
  text-align: center;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1.gym-title, h1.text-center {
  font-size: 3em;
  font-weight: bold;
  margin-top: 20px;
  color: #00796B; /* 落ち着いた緑色 */
}

.button-container {
  margin-top: 20px;
}

button.large-button, .btn-primary {
  font-size: 1.5em;
  padding: 10px 20px;
  background-color: #004D40; /* 落ち着いた緑色 */
  border: none;
  color: #fff;
}

.navbar-light .navbar-brand {
  color: #004D40; /* 落ち着いた緑色 */
}

.navbar-light .navbar-toggler-icon {
  color: #004D40; /* 落ち着いた緑色 */
}

.navbar-light .navbar-nav .nav-link {
  color: #004D40; /* 落ち着いた緑色 */
}

.bg-custom {
  background-color: #00796B; /* 落ち着いた緑色 */
  color: #fff; /* 白い文字色 */
}

.modal-dialog {
  max-width: 1200px; /* モーダルの横幅を広く */
}

.modal-body {
  max-height: 70vh;
  overflow-y: auto;
}

/* 器具選択モーダルのスタイル */
#equipmentModal .modal-body #equipmentList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* 両端揃えにする */
  padding: 0 20px; /* 左右の空白を追加 */
}

#equipmentModal .modal-body #equipmentList .form-check {
  flex: 0 0 30%; /* 各項目を均等に配置し、左右の空白を統一 */
  list-style: none;
  margin-bottom: 10px; /* アイテム間のスペースを追加 */
  display: flex; /* フレックスボックスで整列 */
  align-items: center; /* 中央揃え */
}

#equipmentModal .modal-body #equipmentList .form-check-label {
  margin-left: 10px; /* ラベルの左側に余白を追加 */
  font-size: 14px; /* 文字サイズを小さく */
}

/* 都道府県選択モーダルのスタイル */
#prefectureModal .modal-body #prefectureList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* 両端揃えにする */
  padding: 0 50px; /* 左右の空白を追加 */
}

#prefectureModal .modal-body #prefectureList .form-check {
  flex: 0 0 calc(33.3333% - 20px); /* 各項目を均等に配置し、左右の空白を統一 */
  list-style: none;
  margin-bottom: 10px; /* アイテム間のスペースを追加 */
  margin-left: 10px; /* 左の余白を追加 */
  margin-right: 10px; /* 右の余白を追加 */
  text-align: left; /* テキストを左揃え */
}

.region-name {
  width: 100%;
  font-size: 1.2em;
  font-weight: bold;
  margin-top: 10px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 5px;
  text-align: left; /* 左揃えにする */
}

.modal-header, .modal-footer {
  background-color: #00796B; /* モーダルヘッダーとフッターの背景色を落ち着いた緑色に */
  color: #fff; /* モーダルヘッダーとフッターの文字色を白に */
}

.modal-content {
  background-color: #FAFAFA; /* モーダル内容の背景色を白に近いグレーに */
  color: #000; /* モーダル内容の文字色を黒に */
}

html, body {
  height: 100%;
}

#map {
  height: calc(80vh - 40px); /* 地図の高さを調整 */
  width: 75%;
  float: right;
}

#sidebar {
  height: calc(80vh - 40px); /* サイドバーの高さを調整 */
  width: 25%;
  float: left;
  overflow-y: scroll;
  padding-right: 20px;
  padding-left: 10px; 
}

#gym-list {
  list-style-type: none;
  padding: 0;
}

#gym-list li {
  margin-bottom: 10px;
  border: 2px solid #004D40; /* 落ち着いた緑色の境界線 */
  padding: 10px;
  padding-left: 15px; 
}

.gym-name {
  font-size: 1.2em; 
}

.gym-address {
  font-size: 0.8em; 
}

.form-group-inline {
  display: flex;
  justify-content: space-between;
}

.form-group-inline .form-group {
  flex: 1;
  margin-right: 10px;
}

.form-group-inline .form-group:last-child {
  margin-right: 0;
}

.no-gyms-message {
  font-size: 1.2em;
  color: red;
  margin-top: 10px;
}

.large-button {
  font-size: 24px; 
  padding: 20px 40px; 
}

footer {
  background-color: #00796B; /* フッターの背景色を落ち着いた緑色に */
  color: #fff; /* フッターの文字色を白に */
  text-align: center;
  padding: 5px 0; /* フッターの高さを低く調整 */
  position: fixed;
  bottom: 0;
  width: 100%;
}

body {
  background-color: #e0f7fa; /* 背景色をライトグレーに */
  color: #333; /* 文字色を濃いグレーに */
  text-align: center;
  font-family: Arial, sans-serif;
}

.container {
  max-width: 600px; /* 幅を広く */
  margin: 0 auto;
  padding-top: 50px;
}

.card {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-header {
  border-bottom: none;
  padding-bottom: 0;
}

.nav-tabs .nav-link {
  font-weight: bold;
  color: #004d40; /* 落ち着いた緑色 */
}

.nav-tabs .nav-link.active {
  background-color: #004d40; /* 落ち着いた緑色 */
  color: #fff;
}

.btn-twitter {
  background-color: #1da1f2;
  color: #fff;
  border-radius: 5px;
  padding: 10px 20px;
  margin-bottom: 10px;
  display: block;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
}

.btn-twitter:hover {
  background-color: #0d8cd5;
}

.btn-line {
  background-color: #00b900;
  color: #fff;
  border-radius: 5px;
  padding: 10px 20px;
  margin-bottom: 10px;
  display: block;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
}

.btn-line:hover {
  background-color: #009900;
}

.btn-facebook {
  background-color: #3b5998;
  color: #fff;
  border-radius: 5px;
  padding: 10px 20px;
  margin-bottom: 10px;
  display: block;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
}

.btn-facebook:hover {
  background-color: #2d4373;
}

.terms {
  margin-top: 20px;
  font-size: 12px;
}

.terms a {
  color: #004d40; /* 落ち着いた緑色 */
}